@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
    font-family: myFirstFont;
    src: url(/send-mail.svg);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: linear-gradient(white black); 
    
}
.videobg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.videobg video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.videobg .cv-area {
    position: relative;
    z-index: 1;
    
}
header {
    padding-top: 1em 0;
}
#top-name {
    text-align: center;
}
.header-nav {
    display: flex;
    grid-gap: 0px;
    
}
.grid-item {
    text-align: center;
}
.top a:hover {
    color:#ee5a04;
    border: 2px solid #ee5a04;
    transition-duration: 0.3s;
    
}

.top p {
    color: white;
    font-size: 2rem;
    
}
.git {
    color: #b95e13;
}

h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.5rem;
}
h2 {
    margin-top: 5em;   
}
h2 span {
    text-transform: uppercase;
    display: block;
    position: relative;
    font-size: 1.4rem;
    z-index: 1;
}
h2 span::before {
    content: ' ';
    position: absolute;
    width: 3em;
    background: green;
    height: .4em;
    bottom: 0;
    z-index: -1;
}
.form-container { 
    border-radius: .7em;
    background: #ffffff;
    
}
.form-container p {
    color: grey;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
}

label {
    padding-top: 1em;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    color: coral;
}
input[type=text] {
    border: 1px solid #707070;
    width: 80%;
    box-sizing: border-box;
    padding: 1em;
    border-radius: .7em;
    margin-top: 1.2em;
}
input[type=button] {
    border: 5px solid coral;
    width: 80%;
    font-weight: bold;
    margin-bottom: 1.5em;
    padding: 1em 0;
    font-size: 1.3em;
    cursor: pointer;
    color: coral;
    box-shadow: 1px 20px 40px #707070;
    
    
}
input[type=button]:hover {
    background-color: coral;
    color: white;
    transition-duration: 0.4s;
}



#myVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%
   
}
.cv-area {
    padding-bottom: 6em;
    text-align: center;
}
.cv-area nav {
    padding-bottom: 1em;
}
.cv-area a {
    color: #707070;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.cvtext {
    
    background: rgba(87, 76, 76, 0);
    color: rgba(0,0,0,1);
}
.cvtext-col {
    background-image: linear-gradient(178deg, rgba(255, 255, 255, 0) 25%, #b95e13 25.3%);
    color: #ffffff; 
    padding: 10em 5em 2em 5em;
}
.cvtext-col p {
    
    
}
.cvtext h2 {
    padding: 1em 0 1em 0;
    text-align: center;
    color: coral;
    font-family: myFirstFont;
    text-transform: uppercase;
}

.flex-container {
    background-color: #dfdfdf;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.flex-container > :first-child {
    margin-left: 0em;
 }
 footer {
     color: #ffffff;
     background-color: #dfdfdf;
     text-align: right;
 }

@media only screen and (max-width: 800px) {
   .flex-container {
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
   }
   .flex-container > :first-child { margin-left: 5em; }

   .header-nav {
    display: flex;
    flex-direction: column;
}
  }


